<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <title>Fantasy Football Manager</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"  />
</head>
<body ng-app="myApp">

 
  <div align = 'right'>
  
     <img src="img/topMain.png" />   
  </div>  
  
  <div id = "navBar" ng-init="m1='active'">
 
  <ul class="nav nav-pills" >
        <li class={{m1}}><a href="#/Home" ng-click="m2='';m3='';m1='active'"> Home </a></li>
        <li class={{m2}}><a href="#/Players" ng-click="m1='';m3='';m2='active'">Players</a></li>
        <li class={{m3}}><a href="#/MyDraft" ng-click="m1='';m2='';m3='active'" >My Draft</a></li>    
  </ul>
  
  </div>
 
  <div ng-view>
  
  </div>
 
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <div>Angular seed app: v<span app-version></span></div>
    
  -->
  <script src="lib/angular/angular.js"></script> 
  <script src="js/app.js"></script> 
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  
</body>
</html>
