

 <br /><br /><br /><br /><br /><br /><br /><br /><br />



 <div class="span3" bgColor="gray" >

	<div ng-init="addDrafts()" >
	  <p class="text-primary" align='center'>Draft Search</p>
	  <input ng-model="searchText">
	  <br /><hr>

	  <div id="NewDaftInput">
	  	<p class="text-primary" align='center'>Draft Name</p>
	  	<input ng-model="newDraft.Name">
	  	<p class="text-primary" align='center'>League Name</p>
	  	<input ng-model="newDraft.LeagueName">
	  	<p class="text-primary" align='center'>Owner Name</p>
	  	<input ng-model="newDraft.OwnerName">
	  	<p class="text-primary" align='center'>Password</p>
	  	<input ng-model="newDraft.OwnerPassword">
	  	<br /> <br />
    	<center>
	 		<button type="button" ng-click="onCreateNewDraftButtonClick()" class="btn btn-primary">Create New</button>
		</center>

	    <br /><br /><br />
      </div>
	</div>
 
    
 </div>

 <div class="span8 offset1">
 	<table class="table table-hover" ng-controller="SortableTableCtrl">
   		<tbody>
   			<tr>
   				<th></th>
   				<th>NAME</th>
   				<th>CREATED</th>
   				<th>LEAGUE NAME</th>
   				<th>OWNER</th>
   			</tr>
   			<tr ng-repeat="draft in drafts | filter:searchText">
   				<td> <button type="button" ng-click="$dialog.dialog({}).open('partials/modalContent.html')" class="btn btn-primary btn-mini">Go</button></td>
   				<td> {{ draft.name}} </td>  
   				<td> {{ draft.dateCreated }} </td>
   				<td> {{ draft.leagueName }} </td>	
   				<td> {{ draft.ownerId }} </td>  
   			</tr>
   		</tbody>
	</table>
 	
 </div>
 
 
