

 
 <div class="span3" color="gray">

	<div ng-init="addNFLTeams()" >
  <p class="text-primary" align='center'>Name Search</p>
  <input ng-model="searchText">
  <br /><br />

    <center>
	 	<button type="button" ng-click="" class="btn btn-primary">Add Checked</button>
		</center>
    <br /><br /><br />
    <p class="text-primary" align='center'>Quick Filter</p>
    <select ng-model="IsFilterSelected"> 
      <option>TEAM</option>
      <option>POS</option> 
      <option>COLLEGE</option>
    </select>
    <br />

    <span ng-show="IsFilterSelected">
      <select ng-model="IsPositionSelected" ng-options="x.name for x in Team"></select><br /> 
      <br />
    </span>
	</div>
 
    
 </div>

 <div ng-init="addNFLPlayers()" >

 </div>
 <div class="span8 offset1">
 	<table class="table table-hover" ng-controller="SortableTableCtrl">
   		<tbody>
   			<tr>
   				<th ng-repeat="(i,th) in PlayerDataHead" ng-class="selectedCls(i)" ng-click="changeSorting(i)">{{th}}</th>
   			</tr>
   			<tr ng-repeat="athlete in athletes | filter:searchText">
   				<td> <input type="checkbox" ng-model="selectedPlayer"></td>
   				<td> {{ athlete.displayName}} </td>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
   				 
   			</tr>
   		</tbody>
	</table>
 	
 </div>
 
 
