

 
 <div class="span3" color="gray">

  	<h4>Player Filter</h4>

	<div ng-init="addNFLTeams()" >
 
	 	<p class="text-primary"> Team: </p>
	 	<select ng-model="IsTeamSelected" ng-options="x.FullName for x in teams"></select>
	 	<br />
	 	<span ng-show="IsTeamSelected">
	 		<p class="text-primary"> Position: </p>
	 		<select ng-model="IsPositionSelected" ng-options="x.name for x in Team"></select><br />	
	 		<br />
	 	</span>
	 	<span ng-show="IsPositionSelected">
	 		<p class="text-primary"> Player: </p>
	 		<select ng-model="IsPlayerSelected" ng-options="x.name for x in Players"></select><br />
	 	</span>

	 	<button type="button" class="btn btn-primary" ng-model="IsTeamSelected">Go</button>
		
	</div>
 
   
  	
 </div>

 <div ng-init="addNFLPlayers()" >

 </div>
 <div class="span8 offset1">
 	<table class="table table-hover">
   		<tbody>
   			<tr>
   				<th title="No">NO.</th>
   				<th title="Name">NAME</th>
   				<th title="Position">POS</th>
   				<th title="Age">AGE</th>
   				<th title="Height">HEIGHT</th>
   				<th title="Weight">WEIGHT</th>
   				<th title="Experience">EXP</th>
   				<th title="College">COLLEGE</th>
   			</tr>
   			<tr ng-repeat="athlete in athletes">
   				<td> {{ athlete.id}} </td>
   				<td> {{ athlete.displayName}} </td> 
   				 
   			</tr>
   		</tbody>
	</table>
 	
 </div>
 
 
